/* btn */ 
// c-store page index
.u-btn{
    width: 88px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    font-size: ( 18px / $font-size) * 1rem;
    font-weight: bold;
    margin-right: 11px;
    height: 24px;
}

