/* newsparts */ 
/*サムネイル有　テキストと横並び　※script.js（文字数制限）調整必要*/

.c-news03{
    &__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 20px;
        padding: 1% 1% 20px;
        &.--new{
            .c-news03__title{ /*NEWの位置によって親要素変更*/
                &::after{
                    content: "NEW";
                    color: red;
                    display: inline-block;
                    padding: 0 0.5em;
                    font-size: 0.75rem;
                    font-weight: bold;
                }
            }
        }
        a {
            display: block;
        }
    }
    &__image {
        max-width: 100%;
        overflow: hidden;
        background: #fff no-repeat center center;
        background-size: cover;
        &::before{
            content: "";
            display: block;
            padding-top: 80%;
        }
    }
    &__text {
        margin-top: .5em;
        text-align: left;
    }
    &__day {
        display: inline-block;
        margin-right: 1em;
    }
    &__cat {
        display: inline-block;
        &.--type1 {
            color: #ff8181;
        }
        &.--type2 {
            color: #ff81f9;
        }
        &.--type3 {
            color: #818eff;
        }
    }
    &__title {
        display: block;
        padding: 0.5em 0 0;
    }
}


// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
	.c-news03{
        &__item {
            width: 25%;
            a {
                transition: 0.3s all;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}


// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-news03{
        &__list{
            display: block;
        }
        &__item {
            width: 100%;
        }
    }
}