.c-slider {
    border: 4px solid #1B1464;
    @include media-breakpoint-sp{
        height: 166px;
        .slick-list, .slick-track{
            height: 100%;
            li{
                overflow: hidden;
            }
            img{
                height: 166px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    img {
        width:100%;/*スライダー内の画像を横幅100%に*/
        height:auto;
    }
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.c-slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
    @include media-breakpoint-sp{
        margin:0 6px;/*スライド左右の余白調整*/
    }
}