.l-inner {
	margin: 0 auto;
	padding: 0 $pd-x-pc;
	width: $content-width;
	max-width: 100%;
	height: inherit;

	&.--full {
		width: 100%;
		padding: 0;
	}

	&.--wide {
		width:  $content-width--wide;
	}

	&.--narrow {
		width:  $content-width---narrow;
	}
}

.l-content {
	padding-top: 150px;
}
.l-container{
	max-width: 960px;
	width: 96%;
	margin: 0 auto;
	@include media-breakpoint-sp{
		width: 89%;
	}
}
.l-container1{
	max-width: 1920px;
	width: 96%;
	margin: 0 auto;
	@include media-breakpoint-sp{
		width: 90%;
    }
}
.l-container2{
	max-width: 700px;
	width: 96%;
	margin: 0 auto;
	@include media-breakpoint-sp{
		width: 89%;
	}
}
// Tablet
// --------------------------------------------------
@include media-breakpoint-tab {
	.l-inner {
		padding: 0 $pd-x-tab;
	}
}

// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
	.l-inner {
		padding: 0 $pd-x-sp;
	}
}
