.c-monoca{
    &__img{
        margin: 59px 0 8px 0;
        figure{
            display: inline-block;
            width: calc( (100% / 2) - 10px );
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:first-child{
                margin-right: 15px;
            }
        }
    }
    &__contain{
        .u-only__sp{
            display: none;
        }
    }
}