.c-store{
    &__head{
        margin-top: 66px;
        .u-center__text{
            border-bottom: 2px solid #000;
            padding-bottom: 4px;
            @include media-breakpoint-sp{
                margin: 0 20px;
            }
        }
        @include media-breakpoint-sp{
            margin-top: 39px;
        }
    }
    &__nagahama{
        .u-center__text{
            border-bottom: 2px solid #000;
            padding-bottom: 4px;
            @include media-breakpoint-sp{
                margin: 0 20px;
            }
        }
    }
    &__round{
        display: $flex;
        padding: 23px 0 47px 0;
        @include media-breakpoint-sp{
            flex-direction: column;
            padding-bottom: 40px;
        }
    }
    &__row{
        padding-left: 40px;
        width: 41.7%;
        @include media-breakpoint-tab-sp {
            padding-left: 15px;
        }
        @include media-breakpoint-sp{
            width: 100%;
            padding-left: 20px;
            margin-top: 24px;
        }
    }
    &__col{
        display: flex;
        margin-bottom: 14px;
        @include media-breakpoint-sp{
            margin-bottom: 25px;
        }
    }
}