<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'object',
		id: '',
		title: '背景画像',
		description: '',
	}
}}); %><%- include('../_header'); %>
					<h3 class="c-heading1">背景画像一覧</h3>
					<section class="p-object__column">
						<div class="l-inner --narrow">
							
							</div>
						</div>
					</section>
<%- include('../_footer'); %>
