<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'headerparts',
		id: 'type1',
		title: 'ヘッダーパーツ',
		description: '',
	}
}}); %><%- include('../_header'); %>
					<section>
						<div class="l-inner --narrow">

						</div>
					</section> 
<%- include('../_footer'); %>
