<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'headerparts',
		id: 'index',
		title: 'ヘッダーパーツ',
		description: '',
	}
}}); %><%- include('../_header'); %>
					<section class="p-news">
						<div class="l-inner --narrow">

						</div>
					</section>
<%- include('../_footer'); %>