<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'headermv',
		id: 'mv-youtube',
		title: 'MV1',
		description: '',
	}
}}); %><%- include('../_header'); %>
					<section>
						<div class="l-inner --narrow">

						</div>
					</section>
<%- include('../_footer'); %>
