// Colors
// -------------------------
$font-color:              #000 !default;

// background Colors
// -------------------------
$header-bg:               #fff !default;


// Border Colors
// -------------------------
$border-color:                  #333 !default;


// Content Width
// -------------------------

$content-width---narrow:         1000px !default;
$content-width:                 1200px !default;
$content-width--wide:           1400px !default;


// Inner Padding
// -------------------------
$pd-x-pc:                       20px !default;
$pd-x-tab:                      20px !default;
$pd-x-sp:                       16px !default;


// display flex;
$flex: flex;
